@{
    ViewData["Title"] = "Create Counsel Request";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    dynamic? counselor = TempData["counselor"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Counsel Request</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Counselor Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counselor Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label">Counselor: @counselor.NAME</label></div>
                <div class="mb-3"><label class="form-label">Date of Birth: @counselor.DOB</label></div>
                <div class="mb-3"><label class="form-label">Gender: @counselor.GENDER</label></div>
                <div class="mb-3"><label class="form-label">Country: @counselor.COUNTRY</label></div>
                <div class="mb-3"><label class="form-label">Contact Number: @counselor.CONTACT_NUM</label></div>
                <div class="mb-3"><label class="form-label">Email: @counselor.EMAIL</label></div>
            </div>
        </div>
    </div>

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counsel Request Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("AddCounselRequest", "ClientCounselRequests")" method="post" class="form-group">
                    <input type="hidden" name="counselorId" id="counselorId" value="@counselor.COUNSELOR_ID">
                    <div class="mb-3">
                        <label class="form-label">Start Date of Possible Date Range for Counselling</label>
                        <input type="date" name="StartDate" id="StartDate" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">End Date of Possible Date Range for Counselling</label>
                        <input type="date" name="EndDate" id="EndDate" class="form-control">
                    </div>
                    <label class="form-label">You may provide the same date as the Starting Date and Ending Date</label><br>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>