@{
    ViewData["Title"] = "Create Counsel Request";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    dynamic? counselor = TempData["counselor"];
    dynamic? counselorExperience = TempData["counselorExperience"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Counsel Request</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Counselor Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counselor Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Counselor</p>@counselor.NAME</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Date of Birth</p>@counselor.DOB.ToString("dd/MM/yyyy")</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Gender</p>@counselor.GENDER</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Country</p>@counselor.COUNTRY</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Contact Number</p>@counselor.CONTACT_NUM</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Email</p>@counselor.EMAIL</label></div>
            </div>
        </div>
    </div>

    @if (counselorExperience != null)
    {
        <!-- Counselor Experience Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <a href="#counselorExperienceCard" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="counselorExperienceCard">
                    <h6 class="m-0 font-weight-bold text-primary">Counselor's Past Experiences</h6>
                </a>
                <div class="collapse show" id="counselorExperienceCard">
                    <div class="card-body">
                        <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">School Experience</p>@counselorExperience.SCHOOL_EXPERIENCE</label></div>
                        <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Higher Education</p>@counselorExperience.HIGHER_EDU_EXPERIENCE</label></div>
                        <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Career</p>@counselorExperience.JOB_EXPERIENCE</label></div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counsel Request Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("AddCounselRequest", "ClientCounselRequests")" method="post" class="form-group">
                    <input type="hidden" name="counselorId" id="counselorId" value="@counselor.COUNSELOR_ID">
                    <div class="mb-3">
                        <label class="form-label">Start Date of Possible Date Range for Counseling</label>
                        <input type="date" name="StartDate" id="StartDate" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">End Date of Possible Date Range for Counseling</label>
                        <input type="date" name="EndDate" id="EndDate" class="form-control" required>
                    </div>
                    <label class="form-label">You may provide the same date as the Starting Date and Ending Date</label><br>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        StartDate.min = new Date().toLocaleDateString('fr-ca')
        EndDate.min = new Date().toLocaleDateString('fr-ca')
    </script>
</body>