@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";

    dynamic? name = TempData["name"];
    dynamic? clientInsertRequests = TempData["clientInsertRequests"];
    dynamic? pendingInsertRequests = TempData["pendingInsertRequests"];
    dynamic? guidanceRecords = TempData["guidanceRecords"];
    dynamic? counselRequests = TempData["counselRequests"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome to iCounselVault, @name</h1>
    </div>

    <!-- Info Cards -->
    <div class="row">
        <!-- Data Insert Requests card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Pending Guidance History Record Insert Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@clientInsertRequests</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Data Insert Requests by User card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Your Guidance History Records waiting Admin Approval
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@pendingInsertRequests</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Guidance Record Count card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Your Guidance Records
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@guidanceRecords</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stream fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counsel Requests card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Your Counseling Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@counselRequests</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-phone-volume fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Illustration cards -->
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Career Guidance History</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                             src="~/img/Dashboards/iCounselVault-client-guidanceHistory.svg" alt="Guidance History">
                    </div>
                    <p>
                        View your history with Career Guidance throughout the years, and add personal records.
                    </p>
                    <a asp-controller="ClientDashboard" asp-action="ShowClientGuidanceHistory">
                        Click here to view your Career Guidance History
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Career Guidance Counselors</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                             src="~/img/Dashboards/iCounselVault-client-findCounselor.svg" alt="Find a Counselor">
                    </div>
                    <p>
                        Search for a Career Guidance Counselor, filter available options according to your needs, and schedule an appointment.
                    </p>
                    <a asp-controller="ClientDashboard" asp-action="ShowSearchCounselors">
                        Click here to view available Career Guidance Counselors
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Navigation</h6>
            </div>
            <div class="card-body">
                <!-- Navigation Buttons -->
                <h6 class="h5 mb-0 text-gray-800">Manage Your Profile Details</h6><br>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="ClientDashboard" asp-action="ShowClientProfile">
                    <i class="fas fa-house-user fa-fw me-3"></i>Your Profile
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="ClientExperience" asp-action="ShowClientExperience">
                    <i class="far fa-address-card fa-fw me-3"></i>Your Past Experiences
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="ClientSurvey" asp-action="Index">
                    <i class="fas fa-clipboard-check fa-fw me-3"></i>Personality Traits Questionnaire
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="ClientDashboard" asp-action="ShowInsertRequests">
                    <i class="fas fa-exchange-alt fa-fw me-3"></i>Career Guidance Insert Requests
                </a><br><br>
                <h6 class="h5 mb-0 text-gray-800">iCounselVault Services</h6><br>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="ClientDashboard" asp-action="ShowSearchCounselors">
                    <i class="fas fa-user-tie fa-fw me-3"></i>Find a Career Guidance Counselor
                </a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-controller="ClientDashboard" asp-action="ShowClientGuidanceHistory">
                    <i class="fas fa-address-card fa-fw me-3"></i>Career Guidance History
                </a>
            </div>
        </div>
    </div>
</body>
