@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    dynamic? loggedInClient = TempData["loggedInClient"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Profile</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditClient", "ClientProfile")" method="post" class="form-group">
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" name="Name" id="Name" placeholder="Your Name.." value="@loggedInClient.NAME" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date of Birth: @loggedInClient.DOB</label><br>
                        <label class="form-label">This cannot be edited</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <input type="text" name="Gender" id="Gender" placeholder="Your Gender.." value="@loggedInClient.GENDER" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">NIC: @loggedInClient.NIC</label><br>
                        <label class="form-label">This cannot be edited</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Main Address</label>
                        <input type="text" name="Address" id="Address" placeholder="Your Address.." value="@loggedInClient.ADDRESS" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Country</label>
                        <input type="text" name="Country" id="Country" placeholder="Your Country.." value="@loggedInClient.COUNTRY" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact Number</label>
                        <input type="text" name="Contact" id="Contact" placeholder="Your Contact Number.." value="@loggedInClient.CONTACT_NUM" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input type="Email" name="Email" id="email" placeholder="Your Email.." value="@loggedInClient.EMAIL" class="form-control">
                    </div>
                    <label class="form-label">Your contact details will only be shared with Counsellors that you request guidance from.</label><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
