@{
    ViewData["Title"] = "Your Profile";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    dynamic? loggedInClient = TempData["loggedInClient"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Profile</h1>
    </div>

    <!-- Profile Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Unique Code</p>@loggedInClient.CLIENT_CODE.ToString()</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Name</p>@loggedInClient.NAME</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Date of Birth</p>@loggedInClient.DOB.ToString("dd/MM/yyyy")</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Gender</p>@loggedInClient.GENDER</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">NIC</p>@loggedInClient.NIC</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Primary Address</p>@loggedInClient.ADDRESS</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Country</p>@loggedInClient.COUNTRY</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Contact Number</p>@loggedInClient.CONTACT_NUM</label></div>
                    <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Email</p>@loggedInClient.EMAIL</label></div>
                    <div class="mb-3">
                        <a class="btn btn-info btn-icon-split" asp-action="ShowEditClientProfile" asp-controller="ClientProfile">
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-info btn-icon-split" asp-action="ShowClientExperience" asp-controller="ClientProfile">
                            <span class="text">View Past Experiences</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</body>
