@{
    ViewData["Title"] = "Your Profile";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    dynamic? loggedInClient = TempData["loggedInClient"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Profile</h1>
    </div>

    <!-- Profile Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3"><label class="form-label">Name: @loggedInClient.NAME</label></div>
                    <div class="mb-3"><label class="form-label">Date of Birth: @loggedInClient.DOB</label></div>
                    <div class="mb-3"><label class="form-label">Gender: @loggedInClient.GENDER</label></div>
                    <div class="mb-3"><label class="form-label">NIC: @loggedInClient.NIC</label></div>
                    <div class="mb-3"><label class="form-label">Primary Address: @loggedInClient.ADDRESS</label></div>
                    <div class="mb-3"><label class="form-label">Country: @loggedInClient.COUNTRY</label></div>
                    <div class="mb-3"><label class="form-label">Contact Number: @loggedInClient.CONTACT_NUM</label></div>
                    <div class="mb-3"><label class="form-label">Email: @loggedInClient.EMAIL</label></div>
                    <div class="mb-3">
                        <a class="btn btn-info btn-icon-split" asp-action="ShowEditClientProfile" asp-controller="ClientProfile">
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-info btn-icon-split" asp-action="ShowClientExperience" asp-controller="ClientProfile">
                            <span class="text">View Past Experiences</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</body>
