@using icounselvault.Utility
@{
    ViewData["Title"] = "Edit Client";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    dynamic? selectedClient = TempData["selectedClient"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Client Status</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Client Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditClientStatus", "ManageClients")" method="post" class="form-group">
                    <div>
                        <input type="hidden" name="clientId" id="clientId" value="@selectedClient.CLIENT_ID" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" id="status" class="custom-select">
                            @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                            {
                                if (status.ToString() == selectedClient.CLIENT_STATUS)
                                {
                                    <option value="@status" selected="selected">@status</option>
                                }
                                else
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

