@using icounselvault.Utility
@{
    ViewData["Title"] = "Edit Insert Request";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    dynamic? selectedInsertRequest = TempData["selectedInsertRequest"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Insert Request</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Insert Request Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditInsertRequest", "ManageInsertRequests")" method="post" class="form-group">
                    <div>
                        <input type="hidden" name="insertRequestId" id="insertRequestId" value="@selectedInsertRequest.COUNSEL_DATA_INSERT_REQUEST_ID" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Guidance Advice</label>
                        <input type="text" name="guidanceAdvice" id="guidanceAdvice" value="@selectedInsertRequest.clientGuidanceHistory.GUIDANCE_ADVICE" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" id="status" class="custom-select">
                            @foreach (var status in Enum.GetValues(typeof(AppConstants.RequestStatuses)))
                            {
                                if (status.ToString() == selectedInsertRequest.INSERT_REQUEST_STATUS)
                                {
                                    <option value="@status" selected="selected">@status</option>
                                }
                                else
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Remark</label>
                        <input type="text" name="remark" id="remark" value="@selectedInsertRequest.INSERT_REQUEST_REMARK" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const statusInput = document.getElementById("status");
        const remarkInput = document.getElementById("remark");

        statusInput.addEventListener("input", function () {
            if (statusInput.value === "REJECTED") {
                remarkInput.setAttribute("required", "");
            } else {
                remarkInput.removeAttribute("required");
            }
        });
    </script>
</body>