@model IEnumerable<icounselvault.Models.Profiles.Counselor>
@{
    ViewData["Title"] = "Guidance Record Info";
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
    dynamic? guidanceRecord = TempData["guidanceRecord"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Guidance Record Information</h1>
    </div>
    <!-- Guidance Record Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Guidance Record Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label">Date: @guidanceRecord.CREATED_DATE</label></div>
                <div class="mb-3"><label class="form-label">Client: @guidanceRecord.client.NAME</label></div>
                <div class="mb-3"><label class="form-label">Guidance Advice: @guidanceRecord.GUIDANCE_ADVICE</label></div>
                <div class="mb-3"><label class="form-label">Satisfaction with the Advice: @guidanceRecord.CLIENT_SATISFACTION</label></div>
            </div>
        </div>
    </div>

    <!-- Client Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Client Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label">Client: @guidanceRecord.client.NAME</label></div>
                <div class="mb-3"><label class="form-label">Country: @guidanceRecord.client.COUNTRY</label></div>
                <div class="mb-3"><label class="form-label">Contact Number: @guidanceRecord.client.CONTACT_NUM</label></div>
                <div class="mb-3"><label class="form-label">Email: @guidanceRecord.client.EMAIL</label></div>
            </div>
        </div>
    </div>
</body>