@{
    ViewData["Title"] = "Add/Edit Past Experiences";
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
    dynamic? counselorExperience = TempData["counselorExperience"];
}
@if (counselorExperience != null)
{
    <h1>Edit Past Experiences</h1>
    <form action="@Url.Action("EditCounselorExperience", "CounselorExperience")" method="post">
        <div>
            <label>School Experience</label>
            <input type="text" name="School" id="School" placeholder="School Experience.." value="@counselorExperience.SCHOOL_EXPERIENCE">
        </div>
        <div>
            <label>Higher Education</label>
            <input type="text" name="HigherEducation" id="HigherEducation" placeholder="Higher Education.." value="@counselorExperience.HIGHER_EDU_EXPERIENCE">
        </div>
        <div>
            <label>Job Experience</label>
            <input type="text" name="Career" id="Career" placeholder="Job Experience.." value="@counselorExperience.JOB_EXPERIENCE">
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
}
else
{
    <h1>Add Past Experiences</h1>
    @Html.ValidationSummary()
    <form action="@Url.Action("AddCounselorExperience", "CounselorExperience")" method="post">
        <div>
            <label>School Experience</label>
            <input type="text" name="School" id="School" placeholder="School Experience..">
        </div>
        <div>
            <label>Higher Education</label>
            <input type="text" name="HigherEducation" id="HigherEducation" placeholder="Higher Education..">
        </div>
        <div>
            <label>Job Experience</label>
            <input type="text" name="Career" id="Career" placeholder="Job Experience..">
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
}