@{
    ViewData["Title"] = "Edit Profile";
    dynamic? loggedInCounselor = TempData["loggedInCounselor"];
}
@if (loggedInCounselor != null) 
{
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
    <h1>Edit Profile</h1>
    <form action="@Url.Action("EditCounselor", "CounselorProfile")" method="post">
        <div>
            <label>Full Name</label>
            <input type="text" name="Name" id="Name" placeholder="Your Name.." value="@loggedInCounselor.NAME">
        </div>
        <div>
            <label>Date of Birth: @loggedInCounselor.DOB</label><br>
            <label>This cannot be edited</label>
        </div>
        <div>
            <label>Gender</label>
            <input type="text" name="Gender" id="Gender" placeholder="Your Gender.." value="@loggedInCounselor.GENDER">
        </div>
        <div>
            <label>NIC: @loggedInCounselor.NIC</label><br>
            <label>This cannot be edited</label>
        </div>
        <div>
            <label>Main Address</label>
            <input type="text" name="Address" id="Address" placeholder="Your Address.." value="@loggedInCounselor.ADDRESS">
        </div>
        <div>
            <label>Country</label>
            <input type="text" name="Country" id="Country" placeholder="Your Country.." value="@loggedInCounselor.COUNTRY">
        </div>
        <div>
            <label>Contact Number</label>
            <input type="text" name="Contact" id="Contact" placeholder="Your Contact Number.." value="@loggedInCounselor.CONTACT_NUM">
        </div>
        <div>
            <label>Email Address</label>
            <input type="Email" name="Email" id="email" placeholder="Your Email.." value="@loggedInCounselor.EMAIL">
        </div>
        <label>Your contact details will only be shared with Counsellors that you request guidance from.</label><br>
        <button type="submit">Submit</button>
    </form>
}
else 
{
    Layout = null;
    <h1>Create Profile</h1>
    @Html.ValidationSummary()
    <form action="@Url.Action("AddCounselor", "CounselorProfile")" method="post">
        <div>
            <label>Full Name</label>
            <input type="text" name="Name" id="Name" placeholder="Your Name..">
        </div>
        <div>
            <label>Date of Birth</label>
            <input type="date" name="DateOfBirth" id="DateOfBirth">
        </div>
        <div>
            <label>Gender</label>
            <input type="text" name="Gender" id="Gender" placeholder="Your Gender..">
        </div>
        <div>
            <label>NIC</label>
            <input type="text" name="NIC" id="NIC" placeholder="Your NIC..">
        </div>
        <div>
            <label>Main Address</label>
            <input type="text" name="Address" id="Address" placeholder="Your Address..">
        </div>
        <div>
            <label>Country</label>
            <input type="text" name="Country" id="Country" placeholder="Your Country..">
        </div>
        <div>
            <label>Contact Number</label>
            <input type="text" name="Contact" id="Contact" placeholder="Your Contact Number..">
        </div>
        <div>
            <label>Email Address</label>
            <input type="Email" name="Email" id="email" placeholder="Your Email..">
        </div>
        <label>Your contact details will only be shared with Counsellors that you request guidance from.</label><br>
        <button type="submit">Submit</button>
    </form>
}