@using icounselvault.Utility
@{
    ViewData["Title"] = "Edit Profile";
    dynamic? loggedInCounselor = TempData["loggedInCounselor"];
}
<body>
@if (loggedInCounselor != null) 
{
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit Profile</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Form Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("EditCounselor", "CounselorProfile")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" name="Name" id="Name" placeholder="Your Name.." value="@loggedInCounselor.NAME" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Date of Birth</label><br>
                            <input type="text" value="@loggedInCounselor.DOB.ToString("dd/MM/yyyy")" class="form-control" disabled><br>
                            <label class="form-label">This cannot be edited</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <select name="Gender" id="Gender" class="custom-select">
                                @foreach (var gender in Enum.GetValues(typeof(AppConstants.Genders)))
                                {
                                    if (gender.ToString() == loggedInCounselor.GENDER)
                                    {
                                        <option value="@gender" selected="selected">@gender</option>
                                    }
                                    else
                                    {
                                        <option value="@gender">@gender</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">NIC</label><br>
                            <input type="text" value="@loggedInCounselor.NIC" class="form-control" disabled><br>
                            <label class="form-label">This cannot be edited</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Main Address</label>
                            <input type="text" name="Address" id="Address" placeholder="Your Address.." value="@loggedInCounselor.ADDRESS" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Country</label>
                            <select name="Country" id="Country" class="custom-select">
                                @foreach (var country in Enum.GetValues(typeof(AppConstants.Countries)))
                                {
                                    if (country.ToString() == loggedInCounselor.COUNTRY)
                                    {
                                        <option value="@country" selected="selected">@country</option>
                                    }
                                    else
                                    {
                                        <option value="@country">@country</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contact Number</label>
                            <input type="text" name="Contact" id="Contact" placeholder="Your Contact Number.." value="@loggedInCounselor.CONTACT_NUM" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="Email" name="Email" id="email" placeholder="Your Email.." value="@loggedInCounselor.EMAIL" class="form-control">
                        </div>
                        <label class="form-label">Your contact details will only be shared with Clients within iCounselVault</label><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
}
else 
{
    Layout = null;
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create Profile</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Form Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("AddCounselor", "CounselorProfile")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" name="Name" id="Name" placeholder="Your Name.." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Date of Birth</label><br>
                            <input type="date" name="DateOfBirth" id="DateOfBirth" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <input type="text" name="Gender" id="Gender" placeholder="Your Gender.." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <select name="Gender" id="Gender" class="custom-select">
                                @foreach (var gender in Enum.GetValues(typeof(AppConstants.Genders)))
                                {
                                    <option value="@gender">@gender</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">NIC</label><br>
                            <input type="text" name="NIC" id="NIC" placeholder="Your NIC.." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Main Address</label>
                            <input type="text" name="Address" id="Address" placeholder="Your Address.." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Country</label>
                            <select name="Country" id="Country" class="custom-select">
                                <option value="all" selected>All</option>
                                @foreach (var country in Enum.GetValues(typeof(AppConstants.Countries)))
                                {
                                    <option value="@country">@country</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contact Number</label>
                            <input type="text" name="Contact" id="Contact" placeholder="Your Contact Number.." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="Email" name="Email" id="email" placeholder="Your Email.." class="form-control">
                        </div>
                        <label class="form-label">Your contact details will only be shared with Clients within iCounselVault</label><br>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
}
</body>