@{
    ViewData["Title"] = "Your Profile";
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
    dynamic? loggedInCounselor = TempData["loggedInCounselor"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Profile</h1>
    </div>

    <!-- Profile Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label">Name: @loggedInCounselor.NAME</label></div>
                <div class="mb-3"><label class="form-label">Date of Birth: @loggedInCounselor.DOB</label></div>
                <div class="mb-3"><label class="form-label">Gender: @loggedInCounselor.GENDER</label></div>
                <div class="mb-3"><label class="form-label">NIC: @loggedInCounselor.NIC</label></div>
                <div class="mb-3"><label class="form-label">Primary Address: @loggedInCounselor.ADDRESS</label></div>
                <div class="mb-3"><label class="form-label">Country: @loggedInCounselor.COUNTRY</label></div>
                <div class="mb-3"><label class="form-label">Contact Number: @loggedInCounselor.CONTACT_NUM</label></div>
                <div class="mb-3"><label class="form-label">Email: @loggedInCounselor.EMAIL</label></div>
                <div class="mb-3">
                    <a class="btn btn-info btn-icon-split" asp-action="ShowEditCounselorProfile" asp-controller="CounselorProfile">
                        <span class="text">Edit</span>
                    </a>
                </div>
                <div class="mb-3">
                    <a class="btn btn-info btn-icon-split" asp-action="ShowCounselorExperience" asp-controller="CounselorProfile">
                        <span class="text">View Past Experiences</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>