@{
    ViewData["Title"] = "Your Profile";
    Layout = "~/Views/Shared/_CounselorLayout.cshtml";
    dynamic? loggedInCounselor = TempData["loggedInCounselor"];
}
<body>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Profile</h1>
    </div>

    <!-- Profile Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
            </div>
            <div class="card-body">
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Name</p>@loggedInCounselor.NAME</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Date of Birth</p>@loggedInCounselor.DOB.ToString("dd/MM/yyyy")</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Gender</p>@loggedInCounselor.GENDER</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Primary Address</p>@loggedInCounselor.ADDRESS</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Country</p>@loggedInCounselor.COUNTRY</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Contact Number</p>@loggedInCounselor.CONTACT_NUM</label></div>
                <div class="mb-3"><label class="form-label"><p class="lead text-gray-900">Email</p>@loggedInCounselor.EMAIL</label></div>
                <div class="mb-3">
                    <a class="btn btn-info btn-icon-split" asp-action="Index" asp-controller="CounselorProfile">
                        <span class="text">Edit</span>
                    </a>
                </div>
                <div class="mb-3">
                    <a class="btn btn-info btn-icon-split" asp-action="ShowCounselorExperience" asp-controller="CounselorProfile">
                        <span class="text">View Past Experiences</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>