@using icounselvault.Utility
@model IEnumerable<icounselvault.Models.Auth.User>
@{
    ViewData["Title"] = "Add/Edit Counselor";
    dynamic? layoutPath = TempData["layout"];
    Layout = layoutPath;
    dynamic? selectedUser = TempData["selectedUser"];
    dynamic? decryptedPassword = TempData["decryptedPassword"];
    dynamic? selectedCounselor = TempData["selectedCounselor"];
    int userID = 0;
}
<body>
@if(selectedCounselor == null) 
{
    @if (selectedUser == null)
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add User for Counselor</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Counselor User Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("AddCounselorUser", "ManageCounselors")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" id="username" placeholder="Username..." class="form-control">
                        </div>
                        <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="text" name="password" id="password" placeholder="Password..." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password..." class="form-control">
                        </div>
                        <input type="hidden" id="layoutPath" name="layoutPath" value="@layoutPath">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit Counselor Login Details</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Counselor User Details</h6>
                </div>
                <div class="card-body">
                        <form action="@Url.Action("EditCounselorUser", "ManageCounselors")" method="post" class="form-group">
                        <div>
                            <input type="hidden" name="userId" id="userId" value="@selectedUser.USER_ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" id="username" placeholder="Username..." value="@selectedUser.USERNAME" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="text" name="password" id="password" placeholder="Password..." value="@decryptedPassword" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password..." value="@decryptedPassword" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status" id="status" class="custom-select">
                                @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                                {
                                    if (status.ToString() == selectedUser.USER_STATUS)
                                    {
                                        <option value="@status" selected="selected">@status</option>
                                    }
                                    else
                                    {
                                        <option value="@status">@status</option>
                                    }
                                }
                            </select>
                        </div>
                            <input type="hidden" id="layoutPath" name="layoutPath" value="@layoutPath">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counselor Users</h6>
            </div>
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                userID = user.USER_ID;
                                <tr>
                                    <td>@user.USER_ID</td>
                                    <td>@user.USERNAME</td>
                                    <td>********</td>
                                    <td>@user.USER_STATUS</td>
                                    <td>
                                        <center>
                                            @if (layoutPath == "../../Views/Shared/_SuperAdminLayout")
                                            {
                                                <a class="btn btn-info btn-icon-split" asp-action="SuperAdminShowAddEditCounselorUser" asp-route-userId=@user.USER_ID asp-route-encryptedPassword=@user.PASSWORD asp-controller="ManageCounselors"><span class="text">Edit</span></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-info btn-icon-split" asp-action="AdminShowAddEditCounselorUser" asp-route-userId=@user.USER_ID asp-route-encryptedPassword=@user.PASSWORD asp-controller="ManageCounselors"><span class="text">Edit</span></a>
                                            }
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
}
else 
{
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Counselor Status</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counselor Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditCounselorStatus", "ManageCounselors")" method="post" class="form-group">
                    <div>
                        <input type="hidden" name="counselorId" id="counselorId" value="@selectedCounselor.COUNSELOR_ID" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" id="status" class="custom-select">
                            @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                            {
                                if (status.ToString() == selectedCounselor.COUNSELOR_STATUS)
                                {
                                    <option value="@status" selected="selected">@status</option>
                                }
                                else
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                    </div>
                    <input type="hidden" id="layoutPath" name="layoutPath" value="@layoutPath">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
}
</body>