@using icounselvault.Utility
@model IEnumerable<icounselvault.Models.Auth.User>
@{
    ViewData["Title"] = "Add/Edit Counselor";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    dynamic? selectedUser = TempData["selectedUser"];
    dynamic? decryptedPassword = TempData["decryptedPassword"];
    dynamic? selectedCounselor = TempData["selectedCounselor"];
    int userID = 0;
}
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/StylePack/sb-admin-2.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/StylePack/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/StylePack/demo/chart-area-demo.js"></script>
    <script src="~/js/StylePack/demo/chart-pie-demo.js"></script>
</head>
<body>
@if(selectedCounselor == null) 
{
    @if (selectedUser == null)
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add User for Counselor</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Counselor User Details</h6>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("AddCounselorUser", "ManageCounselors")" method="post" class="form-group">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" id="username" placeholder="Username..." class="form-control">
                        </div>
                        <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="text" name="password" id="password" placeholder="Password..." class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password..." class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit Counselor Login Details</h1>
            @Html.ValidationSummary()
        </div>

        <!-- Navigation Card -->
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Counselor User Details</h6>
                </div>
                <div class="card-body">
                        <form action="@Url.Action("EditCounselorUser", "ManageCounselors")" method="post" class="form-group">
                        <div>
                            <input type="hidden" name="userId" id="userId" value="@selectedUser.USER_ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" id="username" placeholder="Username..." value="@selectedUser.USERNAME" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="text" name="password" id="password" placeholder="Password..." value="@decryptedPassword" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password..." value="@decryptedPassword" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status" id="status" class="custom-select">
                                @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                                {
                                    if (status.ToString() == selectedUser.USER_STATUS)
                                    {
                                        <option value="@status" selected="selected">@status</option>
                                    }
                                    else
                                    {
                                        <option value="@status">@status</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    }

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                userID = user.USER_ID;
                <tr>
                    <th scope="row">@user.USER_ID</th>
                    <td>@user.USERNAME</td>
                    <td>********</td>
                    <td>@user.USER_STATUS</td>
                    <td>
                        @Html.ActionLink(
                        "Edit",                                                             
                        "ShowAddEditCounselorUser",
                        "ManageCounselors",                                                    
                        new { userId = user.USER_ID, encryptedPassword = user.PASSWORD}    
                        )
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else 
{
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Counselor Status</h1>
        @Html.ValidationSummary()
    </div>

    <!-- Form Card -->
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Counselor Details</h6>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditCounselorStatus", "ManageCounselors")" method="post" class="form-group">
                    <div>
                        <input type="hidden" name="counselorId" id="counselorId" value="@selectedCounselor.COUNSELOR_ID" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" id="status" class="custom-select">
                            @foreach (var status in Enum.GetValues(typeof(AppConstants.MainStatuses)))
                            {
                                if (status.ToString() == selectedCounselor.COUNSELOR_STATUS)
                                {
                                    <option value="@status" selected="selected">@status</option>
                                }
                                else
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
}
</body>